@import 'tailwindcss';

@theme {
  --color-ps-primary: #293757;
  --color-ps-gold: #f39200;
  --font-af-sans: 'UAF Sans', ui-sans-serif, system-ui, sans-serif;
}

body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, sans-serif;
  color: var(--color-ps-primary);
}
